@media (max-width: 390px) {
  .activities__header {
    font-size: 2rem;
  }

  .activities__list__icon,
  .activities__nl,
  .activities,
  .activities:visited,
  .activities:link {
    font-size: 1.4rem;
  }
}

@media (max-width: 280px) {
  .activities__header {
    font-size: 1.6rem;
  }

  .activities__list__icon,
  .activities__nl,
  .activities,
  .activities:visited,
  .activities:link {
    font-size: 1.2rem;
  }
}
