/* 
---01 TYPOGRAPHY SYSTEM:
-FONT SIZE(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

-FONT WEIGHTS
Default: 400
Msdium: 500
Semi-bold: 600
Bold: 700

-LINE-HEIGHTS
Default: 1 
Small: 1.05
medium: 1.2
Paragraph-default: 1.5
large: 1.8

-LETTER SPACING
-(-0.5px)
- 0.75px

---02 COLOR:
-Primary:#dee2e6

-Tints:#f8f9fa





-Shades:
#868e96
#495057
#343a40
#212529






---05 SHADOWS
box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.15);

---06 BORDER-RADUIS
Default: 9px
-11px

---07 WHITE SPACE:
-SPACING(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;

  /* font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif; */

  /* You're uing margin for spacing because the body has the primary color. If you change the body's color to white, use paddings for element and section spacing */
  background-color: white;
}
.section {
  transition: all 1s;
}

.section__hidden {
  /* TODO: uncomment this afterward */
  opacity: 0;
  transform: translateY(10rem);
}
.hidden {
  display: none;
}

.container {
  /* Don't use paddings to set your container */
  max-width: 120rem;
  margin-right: auto;
  margin-left: auto;
}

.copyright {
  font-size: 1.6rem;
}

.button__entity {
  font-size: 1.6rem;
}

/* LANDING PAGE */

/* sections */
.landing_page {
  background-color: #f8f9fa;
  color: #212529;
  padding: 5.2rem 0;
}

.contact-page,
.projects {
  background-color: #343a40;
  color: #f8f9fa;
}

/* ////////// */
.logo,
.bar__one__text,
.bar__two__header {
  font-size: 2rem;
  font-stretch: ultra-condensed;
  font-weight: 700;
}

.landing_page nav {
  background-color: inherit;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 2.4rem 1rem;
  margin-bottom: 4.8rem;

  /* Always add a with to the Nav Bar because if you don't it will affeCt stickY nav */
  width: 100%;
}

.nav_links_container {
  list-style-type: none;
  display: flex;
  gap: 3.2rem;
  justify-content: space-between;
  align-items: center;
}

.nav_link,
.nav_link:visited,
.nav_link:link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #212529;
}

.nav_link:hover,
.nav_link:active {
  color: #868e96;
  transition: all 0.5s;
}

/* ACTIVITIES HTML CSS*/
.activities__container {
  border: 1px solid #868e96;
  padding: 5.2rem 1.6rem;
}

/* FOOTER */
.contact-page {
  height: 55vh;
  display: flex;
}

.contact_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 5.2rem 0;
}

.bar__one__text {
  /* logo Abrv */
  display: inline-block;
  color: #dee2e6;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 8rem;
}

.bar__one__text:hover {
  text-decoration: underline;
  transition: all 3s;
}

.bar__two__header {
  font-stretch: ultra-condensed;
  margin-bottom: 3.4rem;
  font-weight: 600;
}

.container__bar__two__text {
  margin-bottom: 1.4rem;
}

.bar__two__text,
.bar__two__text:link,
.bar__two__text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #f8f9fa;
}

.bar__two__text:hover,
.bar__two__text:active {
  color: #868e96;
  transition: all 1s;
}

/* Fixing flexbox gap property missing in some Safari versions */
.no-flexbox-gap .nav_links_container a:not(:last-child) {
  margin-right: 3.2rem;
}

/* TODO: edit code below for yours */
/* 

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
} */
