@media (max-width: 1024px) {
  /* Article, Button, Nav, Logo */

  /* articles */
  .landing_page_body__article {
    margin-bottom: 4.8rem;
  }

  /* .p_project__body {
    font-size: 1.4rem;
  } */

  /* .link,
  .link:visited,
  .link:link,
  .link:hover,
  .link:active {
    font-size: 1.4rem;
  }

  .project,
  .project:visited,
  .project:link,
  .project:hover,
  .project:active {
    font-size: 1.4rem;
  }
  */

  /* button */
  /* .activitiy_button,
  .activitiy_button:link,
  .activitiy_button:visited,
  .activitiy_button:hover,
  .activitiy_button:active {
    font-size: 1.4rem;
  }  */

  /* Headers */
  .landing_page_body__header {
    font-size: 5rem;
  }

  /* .p_project__header {
    font-size: 1.6rem;
  } */

  /* Containers */
  .personal_projects {
    padding: 5.2rem 1.2rem;
  }

  .udemy_projects {
    background-color: #dee2e6;
    padding: 3.2rem 1.2rem;
  }
}

@media (max-width: 912px) {
  /* Projects section */
  /* Headers */
  .landing_page_body__header {
    font-size: 4.4rem;
  }

  .udemy_projects__header,
  .personal_projects__header {
    font-size: 2.8rem;
  }

  .p_project__header {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  /* Article, Button, Nav, Logo */
  .main-text-design:first-child {
    font-size: 2.4rem;
  }

  .p_project__body {
    font-size: 1.6rem;
  }

  .link,
  .link:visited,
  .link:link,
  .link:hover,
  .link:active,
  .project,
  .project:visited,
  .project:link,
  .project:hover,
  .project:active {
    font-size: 1.4rem;
  }

  /* button */
  .activitiy_button,
  .activitiy_button:link,
  .activitiy_button:visited,
  .activitiy_button:hover,
  .activitiy_button:active {
    font-size: 1.4rem;
  }

  /* articles */
  .landing_page_body__article {
    font-size: 2rem;
  }

  /* Containers */
  /* .landing_page {
    position: relative;
    height: 75vh;
  } */

  /* ///////// */

  /* .p_project__body {
    font-size: 1.2rem;
  }

  .link,
  .link:visited,
  .link:link,
  .link:hover,
  .link:active {
    font-size: 1.2rem;
  }

  .project,
  .project:visited,
  .project:link,
  .project:hover,
  .project:active {
    font-size: 1.2rem;
  }
  */

  /* button */
  /* .activitiy_button,
  .activitiy_button:link,
  .activitiy_button:visited,
  .activitiy_button:hover,
  .activitiy_button:active {
    font-size: 1.2rem; 
  } */
}

@media (max-width: 820px) {
  /* Headers */
  /* .landing_page_body__header {
    font-size: 5.2rem;
  } */

  .udemy_projects__header,
  .personal_projects__header {
    font-size: 2.4rem;
  }

  /* .p_project__header {
    font-size: 1.2rem;
  } */

  /* Article, Button, Nav, Logo */
  /* articles */
  .main-text-design:first-child {
    font-size: 2rem;
  }

  .landing_page_body__article {
    font-size: 1.8rem;
  }

  .p_project__body {
    font-size: 1.4rem;
  }

  .link,
  .link:visited,
  .link:link,
  .link:hover,
  .link:active {
    font-size: 1.4rem;
  }

  .project,
  .project:visited,
  .project:link,
  .project:hover,
  .project:active {
    font-size: 1.4rem;
  }

  /* button */
  .activitiy_button,
  .activitiy_button:link,
  .activitiy_button:visited,
  .activitiy_button:hover,
  .activitiy_button:active {
    font-size: 1.4rem;
    padding: 1.2rem 2.4rem;
  }

  /* Containers */
  /* .nav_bar {
    margin-bottom: 8rem !important;
  } */

  .personal_projects {
    padding: 5.2rem 1.6rem;
  }

  .udemy_projects {
    background-color: #dee2e6;
    padding: 3.2rem 1.6rem;
  }
}

@media (max-width: 768px) {
  /* Projects section */
  /* Article, Button, Nav, Logo */

  /* articles */
  .main-text-design:first-child {
    font-size: 1.8rem;
  }
  .landing_page_body__article {
    font-size: 1.6rem;
  }

  .p_project__body {
    font-size: 1.2rem;
  }

  .link,
  .link:visited,
  .link:link,
  .link:hover,
  .link:active {
    font-size: 1.2rem;
  }

  .project,
  .project:visited,
  .project:link,
  .project:hover,
  .project:active {
    font-size: 1.2rem;
  }

  /* button */
  .activitiy_button,
  .activitiy_button:link,
  .activitiy_button:visited,
  .activitiy_button:hover,
  .activitiy_button:active {
    font-size: 1.2rem;
  }

  /* Headers */
  .landing_page_body__header {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }

  .udemy_projects__header,
  .personal_projects__header {
    font-size: 2rem;
  }

  .p_project__header {
    font-size: 1.6rem;
  }
}

/* ///MOBILE PHONE VERSION */
@media (max-width: 540px) {
  /* Article, Button, Nav, Logo */

  .link,
  .link:visited,
  .link:link,
  .link:hover,
  .link:active {
    width: 10%;
  }

  /* button */
  .activitiy_button,
  .activitiy_button:link,
  .activitiy_button:visited,
  .activitiy_button:hover,
  .activitiy_button:active {
    padding: 0.8rem 1.6rem;
  }

  /* Headers */
  .landing_page_body__header {
    font-size: 3.6rem;
  }

  .udemy_projects__header,
  .personal_projects__header {
    font-size: 1.8rem;
  }

  .p_project__header {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  /* Containers */
  .landing_page {
    position: relative;
  }

  /* --------------------------SLIDER ALTERATION */
  .personal_projects__container {
    position: relative;
    display: flex;
    overflow: hidden;
    gap: 0;
  }

  .p_project {
    flex-shrink: 0;
    max-width: 46.4rem;
  }
  /* ---------------------------------------------------*/

  .personal_projects {
    padding: 5.2rem 1.8rem;
  }

  .udemy_projects {
    background-color: #dee2e6;
    padding: 3.2rem 1.8rem;
  }

  .udemy_projects__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
  }
}

@media (max-width: 430px) {
  .nav_bar {
    margin-bottom: 5.4rem !important;
  }

  .landing_page_body {
    gap: 2rem;
  }

  /* Headers */
  .landing_page_body__header {
    font-size: 3rem;
  }

  /* --------------------------SLIDER ALTERATION */

  .p_project {
    max-width: 39.4rem;
  }
  /* ---------------------------------------------------*/
}
@media (max-width: 414px) {
  /* --------------------------SLIDER ALTERATION */

  .p_project {
    max-width: 37.8rem;
  }
  /* ---------------------------------------------------*/
}

@media (max-width: 390px) {
  .landing_page_body__header {
    font-size: 2.4rem;
  }

  .main-text-design:first-child {
    font-size: 1.6rem;
  }
  .landing_page_body__article {
    font-size: 1.4rem;
  }
  /* --------------------------SLIDER ALTERATION */

  .p_project {
    max-width: 33.9rem;
  }
  /* ---------------------------------------------------*/
}

@media (max-width: 360px) {
  /* --------------------------SLIDER ALTERATION */

  .p_project {
    max-width: 35.4rem;
  }
  /* ---------------------------------------------------*/
}

@media (max-width: 280px) {
  .landing_page_body__header {
    font-size: 2rem;
  }

  .main-text-design:first-child {
    font-size: 1.4rem;
  }
  .landing_page_body__article {
    font-size: 1.3rem;
  }

  /* --------------------------SLIDER ALTERATION */
  .p_project {
    max-width: 26rem;
  }
  /* ---------------------------------------------------*/

  /* Container */
  .nav_bar {
    margin-bottom: 6rem !important;
  }
}
