/* 
---01 TYPOGRAPHY SYSTEM:
-FONT SIZE(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98  */

/* 
---07 WHITE SPACE:
-SPACING(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

@media (max-width: 1024px) {
  /* Article, Button, Nav, Logo */

  /* .button__entity {
    font-size: 1.4rem;
  } */

  /* nav */
  /* .nav_link,
  .nav_link:visited,
  .nav_link:link,
  .nav_link:hover,
  .nav_link:active {
    font-size: 1.4rem;
  } */

  /* logos */
  /* .logo {
    font-size: 1.6rem;
  } */

  /* Logo */
  /* .bar__one__text {
    font-size: 1.4rem;
  } */

  /* .bar__two__text {
    font-size: 1.4rem;
  } */

  /* Containers */
  .container {
    max-width: 100rem;
  }

  .landing_page header {
    padding: 2.4rem 1.8rem;
  }

  .contact_container {
    padding: 5.2rem 1.2rem;
  }
}

@media (max-width: 912px) {
  /* Article, Button, Nav, Logo */
  .button__entity {
    font-size: 1.4rem;
  }

  .nav_link,
  .nav_link:visited,
  .nav_link:link,
  .nav_link:hover,
  .nav_link:active {
    font-size: 1.4rem;
  }

  /* .bar__two__text {
    font-size: 1.2rem;
  } */

  /* Containers */
  .container {
    max-width: 90rem;
  }
}

@media (max-width: 820px) {
  .copyright {
    font-size: 1.2rem;
  }
  .button__entity {
    font-size: 1.4rem;
  }

  /* Article, Button, Nav, Logo */

  /* nav */
  .nav_link,
  .nav_link:visited,
  .nav_link:link,
  .nav_link:hover,
  .nav_link:active {
    font-size: 1.4rem;
  }

  /* logos */
  .logo,
  .bar__one__text,
  .bar__two__header {
    font-size: 1.8rem;
    font-stretch: ultra-condensed;
    font-weight: 600;
  }

  .bar__two__text,
  .bar__two__text:link,
  .bar__two__text:visited {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }

  /* Containers */
  .container {
    max-width: 80rem;
  }

  .landing_page header {
    padding: 2.4rem 2rem;
  }

  .contact_container {
    padding: 5.2rem 1.4rem;
  }

  .nav_links_container {
    gap: 1.4rem;
  }
}

@media (max-width: 768px) {
  /* Article, Button, Nav, Logo */
  .copyright {
    font-size: 1rem;
  }

  .button__entity {
    font-size: 1.2rem;
  }

  .nav_link,
  .nav_link:visited,
  .nav_link:link,
  .nav_link:hover,
  .nav_link:active {
    font-size: 1.2rem;
  }

  .logo,
  .bar__one__text,
  .bar__two__header {
    font-size: 1.6rem;
  }

  .bar__two__text,
  .bar__two__text:link,
  .bar__two__text:visited {
    font-size: 1.2rem;
    margin-bottom: 1.4rem;
  }

  /* Containers */
  .container {
    max-width: 70rem;
  }
}

@media (max-width: 540px) {
  /* Article, Button, Nav, Logo */
  .copyright {
    font-size: 0.8rem;
  }

  /* logos */
  .logo,
  .bar__one__text,
  .bar__two__header {
    font-size: 1.2rem;
  }

  /* Containers */
  .container {
    max-width: 50rem;
  }
  .nav_links_container {
    gap: 0.8rem;
  }

  .landing_page header {
    padding: 2.4rem 2.4rem;
  }

  .contact_container {
    padding: 5.2rem 1.6rem;
  }
}

@media (max-width: 430px) {
  .contact_container {
    padding: 5.2rem 1.6rem;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 40rem;
  }

  .contact_container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }

  .bar__one {
    text-align: center;
  }

  .bar__two {
    text-align: center;
  }

  /* Contact Header */
  .bar__one__text,
  .bar__two__header {
    font-size: 1.4rem;
  }

  .bar__one__text {
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 280px) {
  .container {
    max-width: 28rem;
  }

  .bar__two__header {
    margin-bottom: 1.2rem;
  }

  .container__bar__two__text {
    margin-bottom: 0.8rem;
  }
}
